<header class="header navbar navbar-expand-lg bg-light navbar-sticky">
  <div class="container-fluid px-4">
      <a href="/" class="navbar-brand">
        <img src="https://salina311.com/content/images/size/w300/2021/06/Group-2.png" width="100" alt="Salina311 Events Calendar">
        Events Calendar
      </a>
      <div id="navbarNav" class="offcanvas offcanvas-end">
        
        <div class="offcanvas-header border-top">
          <a href="https://notices.salina311.com/event/create/" class="btn btn-primary w-100" target="_blank" rel="noopener">
            <i class="fa-solid fa-calendar-check fs-4 lh-1 me-1"></i>
            &nbsp;Submit Event
          </a>
        </div>      
      </div>
      
      <button type="button" class="navbar-toggler" data-bs-toggle="offcanvas" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a href="https://notices.salina311.com/event/create/" class="btn btn-primary btn-sm fs-sm rounded d-none d-lg-inline-flex" target="_blank" rel="noopener">
        <i class="fa-duotone fa-solid fa-calendar-plus"></i>
        &nbsp;Add Event
      </a>
    </div>
  </header>